<div style="height: 90vh;display: flex;justify-content: center;align-items: center;">
    <mat-card class=" card">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
  
      <form [formGroup] = "reactiveForm" appearance="outline" class="form" id="regForm" enctype="multipart/form-data">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter Name"  formControlName="name">
          <mat-error *ngIf="reactiveForm.get('name').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter Email"  formControlName="email">
          <mat-error *ngIf="reactiveForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="reactiveForm.get('email').hasError('email')">
            Email is <strong>valid</strong>
          </mat-error>
        </mat-form-field>
  
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter Password"  formControlName="pwd">
          <mat-error *ngIf="reactiveForm.get('pwd').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Select DOB</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Select DOB" formControlName="dob" (focus)="picker.open()" readonly (dateChange)="calAge($event)">
          <mat-error *ngIf="reactiveForm.get('dob').hasError('required')">
            DOB is <strong>required</strong>
          </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Age</mat-label>
        <input value="{{age}}" matInput placeholder="Age" readonly formControlName="age">
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option [value]="0">Select Gender</mat-option>
        <mat-option *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="reactiveForm.get('gender').hasError('required')">
          Gender is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Topics</mat-label>
        <mat-select formControlName="topics" multiple>
          <mat-option *ngFor="let topic of topics" [value]="topic.id">{{topic.topic}}</mat-option>
        </mat-select>
        <mat-error *ngIf="reactiveForm.get('topics').hasError('required')">
          Topic is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>About Me</mat-label>
          <textarea matInput placeholder="Enter About me" formControlName="about"></textarea>
          <mat-error *ngIf="reactiveForm.get('about').hasError('required')">
            About me is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
        <input
        style="display: none"
        type="file" (change)="onFileChange($event)" 
        #fileInput>
      <button (click)="fileInput.click()">Select File</button>
      <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
  <br>
  <br>
  <div style="text-align: center;">
    <button mat-raised-button color="primary" (click)="register()">Save</button>
    <button style="margin-left: 20px;" mat-raised-button color="primary" (click)="login()">Login</button>
  </div>
       
      </form>    
    </mat-card-content>
  </mat-card>
</div>
